# Core Web Framework & Server
fastapi
uvicorn[standard]

# Database & ORM
sqlalchemy
psycopg2-binary

# Authentication & Security
passlib[bcrypt]==1.7.4
bcrypt==4.1.3
python-jose[cryptography]
itsdangerous

# Data Validation & Settings
pydantic
pydantic-settings
email-validator

# File Handling & API Calls
python-multipart
httpx

# Google Cloud Storage
google-cloud-storage

# Admin Panel
sqladmin
WTForms

# Email Templating
jinja2

# Environment Variables
python-dotenv